<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <mat-icon class="material-icon">chat</mat-icon>
      CHAT
    </button>
    <span class="example-spacer"></span>
    <div *ngIf="userLoggedIn" class="user">
      <button mat-button>
        <img src="assets/defaultavatar.png" alt="Avatar"
             class="avatar">
        {{username}}
      </button>
    </div>
    <div *ngIf="userLoggedIn" class="logout">
      <button (click)="logout()" mat-button>
        <mat-icon class="icon">input</mat-icon>
        Logout
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
