.login-card{
  width: 500px;
  height: 220px;
  margin: auto;
  margin-top: 15%;
}

.field{
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

button{
  width: 100%;
}

.loading {

  position: absolute;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
}
